In [108]:
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np
import pickle

In [109]:
def load_picle_obj(file_path):
    with open(file_path,'rb') as file_obj:
        object=pickle.load(file_obj)
    return object

In [110]:
tensormodel=load_model(r'models\tesormodel.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [111]:
tensormodel.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout (Dropout)               │ (None, 64)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_1 (Dropout)             │ (None, 32)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,947 (11.52 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 2 (12.00 B)

In [112]:
gen_label_encoder=load_picle_obj(r'encoder\label_encoder.pkl')
geo_onehot_encoder=load_picle_obj(r'encoder\onehot_encoder.pkl')
scallar=load_picle_obj(r'scallar\scalar.pkl')

In [113]:
records = [
    {
        "RowNumber": 6,
        "CustomerId": 15894523,
        "Surname": "Walker",
        "CreditScore": 732,
        "Geography": "Germany",
        "Gender": "Male",
        "Age": 36,
        "Tenure": 5,
        "Balance": 102345.67,
        "NumOfProducts": 2,
        "HasCrCard": 1,
        "IsActiveMember": 1,
        "EstimatedSalary": 86543.21,
        "Exited": 0
    },
    {
        "RowNumber": 7,
        "CustomerId": 15678234,
        "Surname": "Patel",
        "CreditScore": 645,
        "Geography": "France",
        "Gender": "Male",
        "Age": 50,
        "Tenure": 7,
        "Balance": 0.00,
        "NumOfProducts": 1,
        "HasCrCard": 1,
        "IsActiveMember": 0,
        "EstimatedSalary": 45678.90,
        "Exited": 1
    },
    {
        "RowNumber": 8,
        "CustomerId": 15765489,
        "Surname": "Garcia",
        "CreditScore": 581,
        "Geography": "Spain",
        "Gender": "Female",
        "Age": 29,
        "Tenure": 3,
        "Balance": 73450.25,
        "NumOfProducts": 2,
        "HasCrCard": 0,
        "IsActiveMember": 1,
        "EstimatedSalary": 120345.50,
        "Exited": 0
    },
    {
        "RowNumber": 9,
        "CustomerId": 15699812,
        "Surname": "Muller",
        "CreditScore": 710,
        "Geography": "Germany",
        "Gender": "Male",
        "Age": 44,
        "Tenure": 9,
        "Balance": 150234.10,
        "NumOfProducts": 2,
        "HasCrCard": 1,
        "IsActiveMember": 0,
        "EstimatedSalary": 98456.75,
        "Exited": 1
    },
    {
        "RowNumber": 10,
        "CustomerId": 15744321,
        "Surname": "Brown",
        "CreditScore": 689,
        "Geography": "France",
        "Gender": "Female",
        "Age": 38,
        "Tenure": 4,
        "Balance": 62340.80,
        "NumOfProducts": 1,
        "HasCrCard": 1,
        "IsActiveMember": 1,
        "EstimatedSalary": 67890.00,
        "Exited": 0
    }
]

In [114]:
df=pd.DataFrame(records)

In [115]:
df.Gender=gen_label_encoder.transform(df.Gender)

In [116]:
geo=geo_onehot_encoder.transform(df[['Geography']])
geo

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5 stored elements and shape (5, 3)>

In [117]:
geo_df=pd.DataFrame(geo.toarray(),columns=geo_onehot_encoder.get_feature_names_out(['Geography']))
print(geo_df.head())

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0
1               1.0                0.0              0.0
2               0.0                0.0              1.0
3               0.0                1.0              0.0
4               1.0                0.0              0.0

In [118]:
df=pd.concat([df.drop(['Geography'],axis=1),geo_df],axis=1)

In [119]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,6,15894523,Walker,732,1,36,5,102345.67,2,1,1,86543.21,0,0.0,1.0,0.0
1,7,15678234,Patel,645,1,50,7,0.00,1,1,0,45678.90,1,1.0,0.0,0.0
2,8,15765489,Garcia,581,0,29,3,73450.25,2,0,1,120345.50,0,0.0,0.0,1.0
3,9,15699812,Muller,710,1,44,9,150234.10,2,1,0,98456.75,1,0.0,1.0,0.0
4,10,15744321,Brown,689,0,38,4,62340.80,1,1,1,67890.00,0,1.0,0.0,0.0

In [120]:
df.drop(["RowNumber",	"CustomerId","Surname"],errors='ignore',inplace=True,axis=1)

In [121]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,732,1,36,5,102345.67,2,1,1,86543.21,0,0.0,1.0,0.0
1,645,1,50,7,0.00,1,1,0,45678.90,1,1.0,0.0,0.0
2,581,0,29,3,73450.25,2,0,1,120345.50,0,0.0,0.0,1.0
3,710,1,44,9,150234.10,2,1,0,98456.75,1,0.0,1.0,0.0
4,689,0,38,4,62340.80,1,1,1,67890.00,0,1.0,0.0,0.0

In [122]:
x_test=df.drop(['Exited'],axis=1)
y_test=df['Exited']
x_test_scalled=scallar.transform(x_test)

In [123]:
print(x_test)

   CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0          732       1   36       5  102345.67              2          1
1          645       1   50       7       0.00              1          1
2          581       0   29       3   73450.25              2          0
3          710       1   44       9  150234.10              2          1
4          689       0   38       4   62340.80              1          1

   IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
0               1         86543.21               0.0                1.0
1               0         45678.90               1.0                0.0
2               1        120345.50               0.0                0.0
3               0         98456.75               0.0                1.0
4               1         67890.00               1.0                0.0

   Geography_Spain
0              0.0
1              0.0
2              1.0
3              0.0
4              0.0

In [139]:
y_pred=tensormodel.predict(x_test_scalled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 99ms/step

In [142]:
# y_pred=y_pred[:,-1]
# y_pred.shape
y_pred = (y_pred >= 0.5).astype(int)

In [143]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.8